*
{
    margin: 0%;
    padding: 0%;
}
body
{
    background: linear-gradient(rgba(8, 64, 177, 0.879), rgb(38, 37, 37)) ;

}
#navigator
{
    width: 100%;
    background-color: rgb(41, 27, 198); 
}
#logo
{
    position: absolute;
    width: 10vw;
    margin-left: 3%;
}
.icon
{
    margin-right: 2vw;
}
header ul 
{
    list-style: none;
    display: flex;
    justify-content: right;
}
header li
{
    margin: 1% 0%;
    border-radius: 9px;
    padding: 5px;  
    margin-right: 2vw; 
    font-size: 1.6vw;
    /* background: linear-gradient(rgb(224, 34, 34) ,rgba(255, 255, 255, 0.214) , rgb(39, 39, 106));*/
    
    
}
header a
{
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
}
header li a:hover 
{
    background: linear-gradient( rgb(7, 52, 231),rgba(255, 255, 255, 0.214) , rgba(128, 41, 41, 0.179) );
    /* color: rgb(16, 168, 188); */
    /* background-color: rgb(195, 6, 6); */
    
}
#entrance
{
    background-image: url(image/abstract-dark-blue-futuristic-digital-grid-background.jpg);
    background-position-y: center;
    background-size:100%;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 30vw;
    size: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.ent_text
{
    color: rgba(255, 219, 88, 0.652);
    font-size: 7vw;
    text-align: center;
}
#box>.text
{
    /* border: 2px solid red; */
    /* border: 2px solid red; */
    color: rgba(255, 219, 88, 0.652);
    /* margin-top: -30px; */
    /* width: 40vw; */
    /* height: 20vw; */
    /* margin-right: 5vw;
    margin-left: 5vw; */
    font-size: 1.9vw;
    width: 60vw;
    text-align: center;
    
}
#mission
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2% 8%;
    margin: 2% 1%;
    /* background-color: rgba(16, 71, 103, 0.619); */
}
#mission h1
{
    font-size: 4vw;
    color: rgba(122, 115, 16, 0.963);
    font-weight: 2em;
    margin-bottom: 1%;
}
#mission p
{
    font-size: 1.5vw;
    color: rgb(122, 115, 16, 0.963);
}
#intro_ourself
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2% 8%;
    margin: 2% 1%;
    /* background-color: rgba(16, 71, 103, 0.619); */
}
#intro_ourself h1
{
    font-size: 4vw;
    color: rgba(255, 255, 255, 0.618);
    font-weight: 2em;
    margin-bottom: 1%;
}
#intro_ourself p
{
    font-size: 1.5vw;
    color: rgb(158, 152, 140);
    font-size: 1.7vw;
}

.member
{
    /* border: 2px solid blue; */
    display: flex;
    margin: 1%;
    align-items: center;
    gap: 2vw;
    padding: 2%;
    border: 0.5vw solid rgba(15, 42, 177, 0.747);
    background: linear-gradient(rgba(0, 21, 113, 0.745), rgba(6, 71, 136, 0.668));
    /* column-gap: 20vw; */
    box-sizing: border-box;
    /* box-shadow: 9px 8px 9px 4px rgba(18, 77, 239, 0.615); */
}
.member:hover
{
    transform: scale(1.03);
}
#per2 img
{
    width: 20%;

}
#per2
{
    flex-direction: row-reverse;
}
#per1 img
{
    width: 20%;
}
#end
{
    margin-top: 3%;
    display: flex;
    gap: 8vw;
    justify-content: center;
    align-items: center;
}
#form_container
{
    padding-top: 6%;
}
.form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    gap: 1vw;
    width: 32vw;
    height: 33vw;
  }
  .inp3 {
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #60c095;
    padding-left: 12px;
    resize: auto;
    overflow: auto;
    width: 25vw;
    height: 10vw;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #091e42;
  }
  #email {
    width: 25vw;
    height: 4vw;
    box-sizing: border-box;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    padding-left: 16px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #6b778c;
  }
  #name {
    width: 25vw;
    height: 4vw;
    box-sizing: border-box;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    padding-left: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #6b778c;
  }
  .getIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 13vw;
    height: 4vw;
    background: #122fbc;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vw;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.003em;
    color: #fff;
    border: none;
    outline: none;
    /* font-size: 2.3vw; */
  }

  .getIn:hover {
    background: #081868;
    box-shadow: 0 8px 16px rgba(15, 51, 148, 0.24);
    border-radius: 4px;
  }

  .getIn:active {
    background: #2a1d9d;
    border-radius: 4px;
  }
  ul {
    list-style-type: none;
  }
  #location
  {
    color: antiquewhite;
    padding: 2%;
    
  }
  #location h1
  {
    margin: 2%;
    font-size: 3.5vw;
}
#location iframe
{
    width: 35vw;
    height: 30vw;
}
#form_valid
{
    color: antiquewhite;
    padding: 2%;
}
#form_valid h1
{
    font-size: 3.5vw;
    margin: 2%;
}